<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handcraft.mapper.MHolidayMapper">

    <resultMap id="BaseResultMap" type="com.handcraft.pojo.MHoliday" >
        <constructor >
            <idArg column="UUID" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="qq_code" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="holiday" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="holiday_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
            <arg column="h_type" jdbcType="VARCHAR" javaType="java.lang.String"  />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    UUID,qq_code,holiday,create_time,holiday_time,h_type
     </sql>

    <insert id="add"  parameterType="com.handcraft.pojo.MHoliday" >
        insert into
        mholiday   (UUID,qq_code,holiday,create_time,holiday_time,h_type)
        values
        (#{UUID,jdbcType=VARCHAR}, #{qqCode,jdbcType=VARCHAR},
        #{holiday,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{holidayTime,jdbcType=TIMESTAMP},
        #{hType,jdbcType=VARCHAR})

    </insert>

    <select id="selectByqqcode" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
     from mholiday
     where qq_code=#{qqCode,jdbcType=VARCHAR}
    </select>


    <delete id="delete" parameterType="String">

    delete from mholiday
    where qq_code=#{qqCode,jdbcType=VARCHAR}
    and holiday=#{holiday,jdbcType=VARCHAR}

    </delete>

</mapper>