<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handcraft.mapper.QQPowerMapper">

    <resultMap id="BaseResultMap" type="com.handcraft.pojo.QQPower" >
        <constructor >
            <idArg column="UUID" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="qq" jdbcType="VARCHAR" javaType="java.lang.String"  />
            <arg column="fun_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    UUID,qq,fun_id,status
     </sql>

    <insert id="add"  parameterType="com.handcraft.pojo.QQPower" >
        insert into
        qq_power   (<include refid="Base_Column_List" />)
        values
        (#{UUID,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
        #{funId,jdbcType=INTEGER},#{status,jdbcType=INTEGER})

    </insert>

    <select id="selectByQQandStatus" parameterType="com.handcraft.pojo.QQPower"  resultType="java.lang.Integer">
        select count(*)
        from qq_power
        where qq=#{qq,jdbcType=VARCHAR}
        and status=#{status,jdbcType=INTEGER}
    </select>


    <update id="update" parameterType="com.handcraft.pojo.QQPower">

    update qq_power
    set UUID=#{UUID,jdbcType=VARCHAR}, status=#{status,jdbcType=INTEGER},
        fun_id=#{funId,jdbcType=INTEGER},qq=#{qq,jdbcType=VARCHAR}
    where UUID=#{UUID,jdbcType=VARCHAR}

    </update>
</mapper>